.nav {
    display: flex;
    gap: 28px;
    align-items: center;
    justify-content: center;
}

.item {
    color: var(--muted);
    text-decoration: none;
    font-family: var(--font-serif);
    padding: 10px 20px;
    border-radius: 24px
}

.item:hover,
.item:focus{
    color: white;
    text-decoration: none;
    background-color: var(--bg-2);
}

.active {
    background: var(--accent);
    color: var(--bg-1)
}